
.mt-1 {
  margin-top: 250px !important;
}

h1  {
    color: white;
    font-size: 75px;
    margin: auto;
    text-align: center;
}

h2  {
    color: white;
    text-align: center;
}

body    {
    background-color: rgb(70, 66, 66);
    padding-top: auto;
}

p   {
    color: white;
    font-size: 20px;
}

#placeHolder-text   {
    color: white;
    font-size: 30px;
}


